@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Cormorant+Garamond:ital@1&family=Dancing+Script&family=Dongle&family=IBM+Plex+Serif:ital,wght@0,400;1,200&family=Indie+Flower&family=Luxurious+Roman&family=Patrick+Hand&family=Raleway:wght@200&family=Zilla+Slab:ital,wght@1,300&display=swap');

body {
	margin: 0px;
}

nav {
	
	background: rgb(94,105,209);
background: radial-gradient(circle, rgba(94,105,209,1) 34%, rgba(191,156,200,1) 92%);
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 30px;
}

nav img {
	width: 100px;
	border-radius: 50%;
	
}


nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}

nav ul li a {
	margin: 15px;
	padding: 20px;
	background-color: lightpink;
	text-decoration: none;
	color: white;
	border-radius: 20px;
	font-family: Patrick Hand;
	font-size: 30px;
}

nav ul li a:hover {
	background-color: lightyellow;
	color: black;
}