@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');

body {
	background-color: #338230;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

div {
	width: 600px;
	height: 400px;
	border: 10px double white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("background.jpg");
	background-size: cover;
	background-position: center;
}
h1 {
	background-color: rgb(255,255,255, 0.8);
	padding: 30px;
	font-family: "Corinthia";
}

