@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Dongle&family=Indie+Flower&family=Luxurious+Roman&display=swap');



h1{
	background-color: lightcoral;
	color: white;
	font-size: 50px;
	padding: 30px;
	margin: 20px;
	text-align: center;
	letter-spacing: 0.5em;
	font-family: "Luxurious Roman";
	transform: rotate(180deg);
}

h2{
	text-align: right;
	background-color: lightblue;
	color: white;
	padding: 20px;
	font-family: Indie Flower;
}

p{
	font-size:25px;
	text-align: justify;
	column-count: 3;
	padding: 30px;
	line-height: 1.5s;
	font-family: Dongle;

}


body{
	background: linear-gradient(
        77deg,
        lightcoral 0%,
        lightblue 100%

		);
}