/*
*
*Title: Infoseite über Wien;
*Author:  Tea Muçmeraj;
*Date: 18.03.2022;
*
*/

/****************** General Styling ******************/

@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Cormorant+Garamond:ital@1&family=Dancing+Script&family=Dongle&family=IBM+Plex+Serif:ital,wght@0,400;1,200&family=Indie+Flower&family=Luxurious+Roman&family=Patrick+Hand&family=Raleway:wght@200&family=Ramaraja&family=Roboto+Slab:wght@300&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap');

body {
	margin: 0px;
}

/* Navigation */

nav {
background: rgb(134,230,244);
background: linear-gradient(230deg, rgba(134,230,244,1) 39%, rgba(85,167,242,1) 72%);
	display: flex;
	justify-content: space-between; /*To make space between logo und links*/
	align-content: center;
	padding: 30px;

}

nav img {
	width: 200px; /* To reduce the size of the logo image */
	border-radius: 50%;
	
}


nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none; /* To remove the bullet points of our list*/

}

nav ul li a {
	margin: 15px;
	padding: 20px;
	background-color:lightsteelblue;
	text-decoration: none;
	color: white;
	border-radius: 20px;
	font-family: Zilla Slab;
	font-size: 30px;
}

nav ul li a:hover {
	background-color: lightyellow;
	color: black;
}
/*Header*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	background-image: url("header-background1.jpg");
	background-position: center;
	background-size: cover;
}

header h1 {
	font-size: 25px;
	background-color: rgba ;
	padding: 20px;
}

/* Section */
section {
	padding: 60px;
	background-color: steelblue;
}

section h2 {
	font-size: 25px;
	color: darkblue;
	background-color: white;
display: inline-block;
}

/*Footer*/
footer {
	height: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: background: rgb(53,196,217);
background: linear-gradient(230deg, rgba(53,196,217,1) 39%, rgba(11,83,149,1) 86%);

}

footer p {
	background-color: 255, 255,255,0.7;
	padding: 10px;
}