.color1{
	background-color: rgb(66,135,245);
	}
.color2{
	background-color: #3477e3;
	}
	.color3{
	background-color: rgb(43,101,194);
	}
	.color4{
	background-color: #2158b0;
	}
	.color5{
	background-color: rgb(29,85,173);
	}
	.color6{
	background-color: #184c9e;
	}
	.color7{
	background-color: rgb(21,67,140);
	}
	.color8{
	background-color: #113d82;
	}
	.color9{
	background-color: rgb(13,52,112);
	}
	.color10{
	background-color: #082c63;
	}
	.color11{
	background-color: rgb(6,40,92);
	}
.color12{
	background-color: #062759;
	}
	.color13{
	background-color: rgb(4,36,84);
	}
	.color14{
	background-color: #05224f;
	}
	.color15{
	background-color: rgb(66,135,245);
	}
	.color16{
	background-color: #041c42;
	}
	.color17{
	background-color: rgb(2,24,59);
	}
	.color18{
	background-color: #021636;
	}
	.color19{
	background-color: rgb(2,21,51);
	}
	.color20{
	background-color: #01132e;
	}

p {
	margin: 0px;
	padding: 20px;
}