footer {
	
	
	background-color: lightblue;
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	padding: 30px;
	flex-direction: column;
}

footer p a{
	color: white;
}


footer p a:hover{
	background-color: white;
	color: black;
}

div {
	width: 100%;
	text-align: center;
}


@media (min-width: 768px){

	footer {
		display: flex;
		flex-direction: row;


	}

	div {
	width: 25%;
	width: inline;
	text-align: left;
	}

	.Our{
	width: 50%;
	}

}








