
/*Paddingwerte werden zur angegebenen Breite hinzugezählt.
Somit ergibt sich ein Wert von über 100%. Nav, article und aside erscheinen dadurch nicht nebeneinander.
Box-sizing: border-box ... Größenangaben umfassen das gesamte Element*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	word-wrap: break-word;/*lang Wörter werden in nächter Zeile weitergeführt, wen sie über den jeweiligen Container hinausragen*/

}

/*Design Smartphone*/
nav, header, article, aside {
	width: 100%;
}
header {
	padding: 25px;
	background-color: lightgray;
	/*width und float löschen wir, weil Desing für Handy programieren möchten. Auch bei nav, article, aside.*/
}

nav {
	padding: 25px;
	background-color: lightcoral;
	list-style-type: none;
	

}

nav ul li {
	list-style-type: none;
}

article {
	padding: 23px;
	background-color: lightgoldenrodyellow;
	
	
}

aside {
	padding: 25px;
	background-color: lightskyblue;

	
}

@media (min-width: 600px){

	li{
		display: inline;
	}
	article{
		width: 60%;
		float: left;
	}
	aside{
		width: 40%;
		float: left;
	}
}

/*Design Desktop*/
/*768px:  Trennung zw. Smartphone/Tablet und Desktop*/
@media (min-width: 768px) { 
	
	li{
		display: block;
	}

	nav, aside {
		width: 25%;
		float: left;
	}

	article {
		width: 50%;
		float: left;
	}
	.container {
	width: 70%;
	margin: auto;/*Bereich wird mittig ausgerichtet.*/

}

}

