/*Font from Google Fonts in css File whith import*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Indie+Flower&family=Kalam:wght@300&family=Raleway:wght@100&display=swap');
body{
	background-color: #eccca1;
	margin: 0;
	min-height: 100px;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:#e1ba84;
	position: sticky;/* Every page has the same fixed navigation. Here I used (position: sticky;), because it fits better with the design I used*/
	top: 0;

	}
nav img{
	height: 150px;/*The size of logo image*/
}

/* General styling of components*/
nav ul li{
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	padding: 30px;
}
nav ul li a:hover{
	background-color:#cd7eb5;
	color:white;
	border-radius: 10px;
}

/* Home-page styling, (important is positioning the background-image)*/
header{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 460px;
		background-image: url("header.jpg");
		background-position: center;
		background-size: cover;

		}
header h1{
	background-color: rgba(255,255,255,0.7);
	font-size: 55px;
	padding: 20px;
	border-radius: 20px;
	color: #ad2f86;
	font-family: 'Kalam';

}

footer{/*some 'Befehlen' for -footer- part*/ 
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #e1ba84;
	height: 229px;

}
 footer h2, p{
	color:#ad2f86;
}


main {
	display: flex;
	align-items: space-around;
	justify-content: center;
	margin: 2%;
	height: 100%;
	width: 100%;
	background: rgb(236,204,161);
	background: linear-gradient(90deg, rgba(236,204,161,1) 0%, rgba(205,126,181,1) 100%);

}
main .home{
	height: 300px;
}

.container{/*The products with a disaplay flex */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d596c3;
	height: 300px;
	width: 200px;
	border-radius: 20px;
	margin: 1%;
	margin-top: 5%;


}

.product{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container:hover{  /*Change the structure when we place the mouse above(to make this part more attractive)*/
	transform: scale(1.25);
}
.product h2{
	color: #ad2f86;
}

main div img{
	width: 200px;
	height: 200px;
}

.description{
	font-size: 20px;
	text-align: center;
	font-family:'Kalam';
	margin: 11%;

}
img .board{/*Important for img.board to have margin: 0; and padding: 0;*/
	margin: 0;
	padding: 0;

	}
/*I used these 'Befehlen' for photos in "About us"*/
.photo{
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;

}
.bar{
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.info{
	margin: 5%;
	background-color: rgba(255,255,255,0.7); 
	font-size: 20px; border-radius: 20px; 
	padding: 3%;
	font-family: 'Kalam';
}