@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Cormorant+Garamond:ital@1&family=Dancing+Script&family=Dongle&family=IBM+Plex+Serif:ital,wght@0,400;1,200&family=Indie+Flower&family=Luxurious+Roman&family=Raleway:wght@200&family=Zilla+Slab:ital,wght@1,300&display=swap');
div {

margin: 20px;
}

footer {
	margin: 20px;
}



header h1 {
	font-family:"Raleway", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h2 {
	font-family: "Dancing Script";
	text-align: center;
}

.a p {
	border: 3px dotted black;
	align-content: center;
	font-family: "Raleway";
	columns: 3 12em;
}

#b {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(99,116,199);
    background: radial-gradient(circle, rgba(99,116,199,1) 8%, rgba(67,98,255,1) 31%);
    border: 3px dotted black;
    height: 200px;
}


#b p {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	width: 150px;
	height: 50px;
}

.c {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background: lightblue;
	height: 200px;
	border: 3px dotted black;
}

.c p {
	background: white;
}

#d {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	border: 3px dotted black;
	height: 200px;
}

#d img {
	border: 1px solid white;
	width: 100px;
	height: 70px;
	background: lightblue;
}


footer {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	background: darkblue;
	height: 200px;
	border: 3px dotted black;
}

footer p {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	height: 50px;
	width: 80px;
}