@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Cormorant+Garamond:ital@1&family=Dancing+Script&family=Dongle&family=IBM+Plex+Serif:ital,wght@0,400;1,200&family=Indie+Flower&family=Josefin+Slab:ital@1&family=Lato:ital,wght@0,400;0,700;1,400&family=Lora:ital@1&family=Luxurious+Roman&family=Patrick+Hand&family=Raleway:wght@200&family=Ramaraja&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto+Mono:wght@300&family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto+Slab:wght@300&family=Roboto:wght@300&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap');
h1 {
	text-align: center;
	font-family: 'Josefin Slab';
	font-size: 60px;
}

h2 {
	text-align: center;
	font-family:'Josefin Slab';
	font-size: 30px;
}
body {
	background-color: lightgray;
}

main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

main a {
	width: 300px;
	height: 300px;
	border: 2px dashed black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	margin: 20px;
	background-size: cover;
	background-position: center;

}

main a:hover {
	transform: scale(1.3);
	transition: all 2s;
}

main a p {
	background-color: white;
	padding: 30px;
}



